div {
  display: 800px;
  width: 80%;
}

.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

h1 {
  font-family: 'Georgia', Verdana, serif;
  font-style: bold;
  font-size: 11em;
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 1;
  text-align: center;
  align-self: center;
  letter-spacing: .1em;
  padding-left: 35px;
  padding-top: 20px;
}

h4{
    font-family: 'Georgia', Verdana, serif;
    font-style: bold;
    font-size: 5em;
    color: rgba(114, 6, 6, 0.986);
    grid-column: 1/3;
    grid-row: 2/4;
    text-align: right;
    align-self: center;
    letter-spacing: .3em;
    z-index: 1;
    padding-right: 60px;
    padding-top: 75px;    
}

img {
  grid-column: 1/2;
  grid-row: 1/4;
  width: 775px;
  height: 100%;

}

.gray {
  background-color: rgb(150, 145, 145);
  grid-column: 2/3;
  grid-row: 1/4;
  width: 750px;
}